<h1>"Once upon a time, there was a {{story.animal}} named {{story.name}}. He was only {{story.age}} years old, but he loved to travel."</h1>
<p>Hello. Do you want to read the rest of the story <a href="/middle">Middle</a>?</p>