<h1> "After a while, Rupert met a beautiful fox named {{story.foxWife}}. They fell deeply in love and lived in {{story.housing}}. They lived there happily ever after. The end."</h1>
<p>Hello. Do you want to read this story <a href="/beginning">beginning</a>?</p>