<h1> "One day, Rupert decided to visit {{story.place}}. So, he hopped on a {{story.travelVehicle}} to get there. Once he got there, he decided to stay for at least {{story.yearsToStay}} years."</h1>
<p>Hello. Do you want to read the rest of the story <a href="/end">End</a>?</p>